.aprashka-main__wrapper.aboutproject {  
  @include grid_template(clamp(800px, 100vh, 1080px) repeat(4, auto) / auto);
  row-gap: 140px;
  overflow-x: hidden;

  .work-block, .team-block, .footer {
    width: 1128px;
    margin-left: 128px;
  }

  .welcome-block {
    @include grid_template(auto 1fr auto / 1fr);
    overflow: hidden;

    &__sun {
      position: relative;
      width: 1128px;

      svg, img {
        position: absolute;
      }

      .sunpic {
        z-index: -1;
        top: -127px;
        left: 1006px;
        animation: effect 8s linear infinite;
        transition: opacity 0.2s linear;

        &.false {
          opacity: 0;
        }
      }
      
      img {
        z-index: -2;
        top: -127px;
        left: 1006px;

        animation: effect 10s linear infinite;

        &.checked {
          opacity: 0;
        }
      }
 
      @keyframes effect {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }

      .light {
        z-index: -3;
        top: 0px;
        left: -410px;
        transition: 0.2s linear;

        &.false {
          opacity: 0;
          top: 150px;
          left: 1250px;
          height: 0px;
          width: 0px
        }
      }
    }

    &__slogan {
      @include grid_align_center(40px / auto 1fr);
      margin: 43px 0 0 128px;
      width: 1128px;
      user-select: none;

      svg.checked {
        fill: $orange-main;
      }
      svg.false {
        transition: fill 0.2s linear;
        fill: $black;
      }

      span {
        transition: opacity 0.2s linear;
        padding: 1px 0 0 18px;
        font-weight: $extralight;
        font-size: 40px;
        color: $orange-main;

        &.checked {
          opacity: 0;
        }
      }
    }

    &__idea {
      @include grid_template(auto / auto 360px);
      column-gap: 16px;
      justify-items: end;
      margin: 0 0 20px 128px;
      width: 1128px;

      .checkbox {
        position: relative;
        cursor: pointer;
        height: 24px;
        width: 24px;

        &.checked {
          background-color: $orange-main;

          &:after {
            content: "";
            position: absolute;
            border: solid white;
            border-width: 0 2px 2px 0;
            left: 9.5px;
            top: 6px;
            width: 5px;
            height: 10px;
  
            transform: rotate(45deg);
          }
        }
    
        &.unchecked {
          border: 1.5px solid $gray-5;
        }
      }


      p {
        line-height: 28px;

        span {
          color: $gray-5;
        }
      }
    }

    &__system {
      @include grid_template(auto auto / 1fr);
      gap: 25px;
      margin: 0 0 48px 128px;
      width: 1128px;

      h1 {
        font-weight: $extralight;
        line-height: 76px;

        span {
          color: $green-main;
          font-weight: $medium;
        }
      }
    }
  }

  .work-block {
    @include grid_template(repeat(4, auto) / 1fr);
    row-gap: 180px;

    &__start {
      @include grid_template(auto 1fr / 1fr);
      row-gap: 36px;

      h2 {
        color: $black;
      }

      nav {
        @include grid_template(auto / repeat(3, 1fr));
        justify-content: space-between;

        div {
          @include grid_template(1fr auto / 1fr);
         row-gap: 16px;

          .lottie-animation {
            background-color: $gray-0;
            height: 360px;
            width: 360px;
          }

          h4 {
            display: flex;
            place-items: center;

            svg {
              margin-left: 12px;
            }
          }
        }

        .rec, .style, .comp {
          .color-blue {
            color: $blue-main;
            * {fill: $blue-main;}
          }
          .color-green {
            color: $green-main;
            * {fill: $green-main;}
          }
          .color-orange {
            color: $orange-main;
            * {fill: $orange-main;}
          }
        }

        .rec:hover, .style:hover, .comp:hover {
          .color-blue {
            color: $blue-hover;
            * {fill: $blue-hover;}
          }
          .color-green {
            color: $green-hover;
            * {fill: $green-hover;}
          }
          .color-orange {
            color: $orange-hover;
            * {fill: $orange-hover;}
          }
        }

        .rec:active, .style:active, .comp:active {
          .color-blue {
            color: $blue-pressed;
            * {fill: $blue-pressed;}
          }
          .color-green {
            color: $green-pressed;
            * {fill: $green-pressed;}
          }
          .color-orange {
            color: $orange-pressed;
            * {fill: $orange-pressed;}
          }
        }
      }
    }

    &__card {
      @include grid_template(1fr / 1fr 1fr);
      border-top: 1px solid $gray-6;
      padding-top: 24px;

      p {
        color: $black;
        line-height: 28px;
      }

      .color-blue {
        color: $blue-main;
      }
      .color-green {
        color: $green-main;
      }
      .color-orange {
        color: $orange-main;
      }
    }
  }

  .ticker {
    display: flex;
    align-items: center;

    height: 210px;
    width: clamp(1600px, 100vw, 2500px);
    overflow: hidden;
    background-color: $pink-main;

    transform: rotate(-4deg) translate(-50px);

    div {
      @include grid_template(1fr / auto auto);

      svg {
        animation: ticker 8s linear infinite;
        margin-left: 35px;

        @keyframes ticker {
          0% {
            transform: translate(2%);
          }
    
          100% {
            transform: translate(-100%);
          }
        }
      }
    }
  }

  .team-block {
    &__team {
      @include grid_template(1fr / repeat(3, 1fr));
      justify-content: space-between;
      margin-top: 36px;

      div {

        div {
          @include grid_template(1fr / 1fr);
          place-items: center;

          background-color: $gray-0;
          height: 360px;
          width: 360px;
          margin-bottom: 16px;

          position: relative;

          img, svg {
            transition: all 0.5s ease;
          }

          img {
            height: 168px;
            width: 168px;
            filter: grayscale(1);
          }

          svg {
            position: absolute;

            filter: opacity(0);
            height: 0px;
            width: 0px;

            &.one {
              top: 120px;
              left: 120px;
            }
            &.two {
              top: 120px;
            }
            &.three {
              top: 120px;
              right: 120px;
              transform: rotate(-50deg);
            }
          }

          &:hover {
  
            img, svg {
              transition: all 0.5s ease;
            }
  
            img {
              height: 360px;
              width: 360px;
              filter: grayscale(0);
            }
  
            svg {
              position: absolute;
              filter: opacity(1);

              &.one {
                top: 25px;
                left: 25px;
                height: 70px;
                width: 70px;
                transform: rotate(50deg);
              }
              &.two {
                top: 25px;
                height: 55px;
                width: 55px;
                transform: rotate(50deg);
              }
              &.three {
                top: 5px;
                right: 5px;
                height: 90px;
                width: 90px;
                transform: rotate(0deg);
              }
            }
          }
        }

        h4 {
         line-height: 34px; 
        }

        p {
          line-height: 28px; 
        }

        &.color-blue {
          color: $blue-main;
        }
        &.color-green {
          color: $green-main;
        }
        &.color-orange {
          color: $orange-main;
        }
      }
    }
  }
}
