/*==========Var========== Start*/

// Colors

$white: #ffffff;
$black: #0A2832;

$gray-1: #3C4646;
$gray-2: #738287;
$gray-3: #87969B;
$gray-4: #AFBEC3;
$gray-5: #C8D2D7;
$gray-6: #D7E1E6;
$gray-7: #E1EBF0;

$green-1: #058C50;
$green-2: #9BD2B9;

$pink-1: #FFA5C3;
$pink-1: #FFDCE6;

$yellow-1: #FFBE14;
$yellow-2: #FFE6A0;

$orange-1: #FF5F28;
$orange-2: #FFBEAA;

$blue-1: #058CD7;
$blue-2: #98D2F0;


// Fonts - Size

$title-font: 175%;  

$h1-font: 60px;
$h2-font: 48px;
$h3-font: 36px;
$h4-font: 28px;

$default-font: 20px;




/*==========Var========== End*/



/*==========Mixin========== Start*/

  @mixin textellipsis() { 
    //@include textellipsis();
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }        

/*==========Mixin========== End*/