.aprashka-main {
  height: 100%;
  width: 100%;
  overflow: hidden;

  @include grid_template(100vh / 312px 1fr);

  font-family: 'Inter';
  font-size: $default-font;
  font-weight: $regular;
  color: $black;

  .loadscreen { // loading effect
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
  
    background-color: rgb(255, 255, 255); // color of pattern
  
    display: grid;
    place-items: center;
  
    .loading-effect{

      svg {
        animation: loading 0.75s ease infinite;
        
        @keyframes loading {
          0% {
            transform: rotate(0deg);
            fill: $pink-hover;
          }

          25% {
            fill: $blue-hover;
          }

          50% {
            fill: $green-hover;
          }

          75% {
            fill: $yellow-2;
          }
      
          100% {
            transform: rotate(180deg);
            fill: $orange-hover;
          }
        }
      }
    }
  }

  &__sidebar {
    @include grid_template(auto 1fr / 1fr);

    background-color: $gray-1;

    $padding-left: 48px; //var
    user-select: none;
    
    .logo {
      @include grid_template(1fr / 1fr);
      align-items: center;

      height: 180px;
      padding-left: $padding-left;
      background-color: $gray-1;
      
      z-index: 2;

      img {
        height: 84px;
        width: 75px;
      }
    }

    .sidebar {
      @include grid_template(auto / 1fr);
      align-content: start;

      overflow-x: hidden;    
   
      .mainlink {
        @include grid_template(1fr / 1fr);
        align-items: center;

        background-color: $gray-1;

        height: 64px;
        padding-left: $padding-left;

        font-weight: $medium;

        position: relative;
        z-index: 2;
      }

      .accordion {

        &__arrow {
          padding-right: 43px;

          span {
            @include grid_template(1fr / auto auto);
            svg {
              justify-self: right;
              align-self: center;
            }
          }
        }
         
        .arrow-open {
          svg {
            transition: all 0.25s ease-out;         
            transform: rotate(90deg);
          }
        }
        
        .arrow-close {
          svg {
            transition: all 0.25s ease-out;
            transform: rotate(0deg);
          }
        } 

        &__links {
          @include grid_template(auto / 1fr);
          align-content: start;

          .secondarylink {
            background-color: $gray-1;
            padding: 8px 0px 8px 64px;
            font-weight: $regular;
            font-size: $small-font;
            line-height: 24px;
          }
        }
      }

      .accfirst { //первый аккордеон
        z-index: 1;
        animation: menu-1 0.25s ease-out forwards;

        .menu-open {
          animation: menu-1-open 0.25s ease-out forwards;

          @keyframes menu-1-open {
            0% {
              transform: translateY(-200px);
              height: 0px;
              color: #0a283200;
            }

            100% {
              transform: translateY(0px);
              height: 200px;
              color: $black;
            }
          }
        }

        .menu-close {
          animation: menu-1-close 0.25s ease-out forwards;

          @keyframes menu-1-close {
            0% {
              transform: translateY(0px);
              height: 200px;
              color: $black;
            }

            100% {
              transform: translateY(-200px);
              height: 0px;
              color: #0a283200;
            }
          }
        }
      }

      .accsecond { //второй аккордеон
        z-index: 0;

        .accordion__links {
          margin-bottom: 20px;
        }

        .menu-open {
          animation: menu-2-open 0.25s ease-out forwards;

          @keyframes menu-2-open {
            0% {
              transform: translateY(-440px);
              height: 0px;
              color: #0a283200;
            }

            100% {
              transform: translateY(0px);
              height: 440px;
              color: $black;
            }
          }
        }

        .menu-close {
          animation: menu-2-close 0.25s ease-out forwards;

          @keyframes menu-2-close {
            0% {
              transform: translateY(0px);
              height: 440px;
              color: $black;
            }

            100% {
              transform: translateY(-440px);
              height: 0px;
              color: #0a283200;
            }
          }
        }
      }

      
      .mainlink.active, .mainlink.active:hover, .secondarylink.active, .secondarylink.active:hover {
        background-color: $white;
      }
      .mainlink:hover, .secondarylink:hover {
        background-color: $gray-0;
      }
    }

    .sidebar::-webkit-scrollbar {
      width: 0px;
    }

  }

  &__wrapper {
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  
  &__wrapper::-webkit-scrollbar {
    width: 0px;
  }
}