// Colors

$white: #ffffff;
$black: #0A2832;

$gray-0: #F2F6F9;
$gray-1: #E1EBF0;
$gray-2: #D7E1E6;
$gray-3: #C8D2D7;
$gray-4: #AFBEC3;
$gray-5: #8C9BA0;
$gray-6: #738287;
$gray-7: #37464B;

$blue-1: #D9EEF9;
$blue-2: #B4DDF3;
$blue-3: #82C5EB;
$blue-pressed: #0178BA;
$blue-hover: #44A9E1;
$blue-main: #058CD7;

$green-1: #E6F3ED;
$green-2: #CDE8DC;
$green-3: #8ECBB0;
$green-pressed: #047040;
$green-hover: #37A373;
$green-main: #058C50;

$pink-1: #FFF1F6;
$pink-2: #FFE4ED;
$pink-3: #FFC9DB;
$pink-pressed: #EF8AAC;
$pink-hover: #FFB7CF;
$pink-main: #FFA5C3;

$orange-1: #FFEFE9;
$orange-2: #FFCFBF;
$orange-3: #FF9F7E;
$orange-pressed: #E84A13;
$orange-hover: #FF7F53;
$orange-main: #FF5F28;

$yellow-1: #FFF5DC;
$yellow-2: #FFEBB9;
$yellow-2: #FFDF89;
$yellow-main: #FFBE14;


// Fonts - Size

//check mixin
$h1-font: 60px;
$h2-font: 48px;
$h3-font: 36px;
$h4-font: 28px;


$default-font: 20px;
$small-font: 16px;

$extralight: 200;
$regular: 400;
$medium: 500;
$semibold: 600;


/*==========Mixin========== Start*/

  @mixin template-values() { 
    //@include template-values();
    @include grid_template(auto / 1128px);
    row-gap: 140px;
    margin: 80px 0px 80px 128px;

    .gray-container {
      @include grid_center(1fr / 1fr);
      background-color: $gray-0;
    }
  }   

  @mixin text() { 
    //@include text();
    font-family: Inter;
    color: $black;

    * > h1 {
      font-size: 60px;
    }
    * > h2 {
      font-size: 48px;
      font-weight: $medium;
    }
    * > h3 {
      font-size: 36px;
    }
    * > h4 {
      font-size: 28px;
      font-weight: $medium;
    }
    * > p {
      font-size: 20px;
      line-height: 28px;
      font-weight: $regular;
    }
  }        

/*==========Mixin========== End*/