.aprashka-main {
  height: 100%;
  width: 100%;
  overflow: hidden;

  @include grid_template(100vh / 312px 1fr);

  // #region : TEXT VARS start
    font-family: Inter;
    color: $black;

    * > h1 {
      font-size: 56px;
      line-height: 64px;
      font-weight: $medium;
      user-select: none;
    }
    * > h2 {
      font-size: 48px;
      line-height: 56px;
      font-weight: $medium;
      user-select: none;
    }
    * > h3 {
      font-size: 36px;
      line-height: 48px;
      font-weight: $medium;
      user-select: none;
    }
    * > h4 {
      font-size: 28px;
      line-height: 38px;
      font-weight: $medium;
      user-select: none;
    }
    * > h5 {
      font-size: 20px;
      line-height: 28px;
      font-weight: $medium;
      user-select: none;
    }
    * > p {
      font-size: 20px;
      line-height: 28px;
      font-weight: $regular;
    }
  // #endregion TEXT VARS end

  &__sidebar {
    @include grid_template(auto 1fr / 1fr);

    background-color: $gray-1;

    $padding-left: 48px; //var
    user-select: none;
    
    .logo {
      @include grid_align_center(1fr / 1fr);

      height: 180px;
      padding-left: $padding-left;
      background-color: $gray-1;
      
      z-index: 2;

      img {
        height: 84px;
        width: 75px;
      }
    }

    .sidebar {
      @include grid_template(repeat(4, auto) / 1fr);
      align-content: start;
      overflow-x: hidden;    
   
      .mainlink {
        @include grid_align_center(1fr / 1fr);

        background-color: $gray-1;
        height: 64px;
        padding-left: $padding-left;

        font-size: $default-font;
        font-weight: $medium;

        position: relative;
        z-index: 2;
      }

      .accordion {

        &__arrow {
          padding-right: 43px;

          span {
            @include grid_template(1fr / auto auto);
            svg {
              transition: all 0.25s ease-out;         
              justify-self: right;
              align-self: center;
            }
          }
        }
         
        .arrow-open > span > svg {
          transform: rotate(90deg);
        }
        
        .arrow-close > span > svg {
          transform: rotate(0deg);
        } 

        &__links {
          @include grid_template(auto / 1fr);
          align-content: start;

          .secondarylink {
            background-color: $gray-1;
            padding: 8px 0px 8px 64px;
            font-weight: $regular;
            font-size: $small-font;
            line-height: 24px;
          }
        }
      }

      .accfirst { //первый аккордеон
        z-index: 1;
        animation: menu-1 0.25s ease-out forwards;

        .menu-open {
          animation: menu-1-open 0.25s ease-out forwards;

          @keyframes menu-1-open {
            0% {
              transform: translateY(-240px); //1 element = 40px
              height: 0px;
              color: #0a283200;
            }

            100% {
              transform: translateY(0px);
              height: 240px; //here
              color: $black;
            }
          }
        }

        .menu-close {
          animation: menu-1-close 0.25s ease-out forwards;

          @keyframes menu-1-close {
            0% {
              transform: translateY(0px);
              height: 240px; //here
              color: $black;
            }

            100% {
              transform: translateY(-240px); //here
              height: 0px;
              color: #0a283200;
            }
          }
        }
      }

      .accsecond { //второй аккордеон
        z-index: 0;

        .accordion__links {
          margin-bottom: 20px;
        }

        .menu-open {
          animation: menu-2-open 0.25s ease-out forwards;

          @keyframes menu-2-open {
            0% {
              transform: translateY(-480px); //1 element = 40px
              height: 0px;
              color: #0a283200;
            }

            100% {
              transform: translateY(0px);
              height: 480px;
              color: $black;
            }
          }
        }

        .menu-close {
          animation: menu-2-close 0.25s ease-out forwards;

          @keyframes menu-2-close {
            0% {
              transform: translateY(0px);
              height: 480px;
              color: $black;
            }

            100% {
              transform: translateY(-480px);
              height: 0px;
              color: #0a283200;
            }
          }
        }
      }
      
      .mainlink.active, .mainlink.active:hover, .secondarylink.active, .secondarylink.active:hover {
        background-color: $white;
      }
      .mainlink:hover, .secondarylink:hover {
        background-color: $gray-0;
      }
      
      &::-webkit-scrollbar {
        width: 0px;
      }
    }
  }

  &__wrapper {
    height: 100%;
    width: 100%;
    
    &::-webkit-scrollbar {
      width: 0px;
    }

    &:not(.aboutproject) {
      @include grid_template(auto / 1128px);
      row-gap: 140px;
      padding: 80px 0px 0px 128px;
      
      overflow-x: hidden;
      overflow-y: auto;

      .gray-container {
        @include grid_center(1fr / 1fr);
        background-color: $gray-0;
      }
    }
  }

  .loadscreen { // loading effect
    display: grid;
    place-items: center;

    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
  
    background-color: rgb(255, 255, 255); // color of pattern
  
    .loading-effect{

      svg {
        animation: loading 0.75s ease infinite;
        
        @keyframes loading {
          0% {
            transform: rotate(0deg);
            fill: $pink-hover;
          }

          25% {
            fill: $blue-hover;
          }

          50% {
            fill: $green-hover;
          }

          75% {
            fill: $yellow-2;
          }
      
          100% {
            transform: rotate(180deg);
            fill: $orange-hover;
          }
        }
      }
    }
  }
  
  .download-button {
    height: 64px;
    width: 198px;

    @include grid_template(1fr / auto auto);
    align-items: center;
    column-gap: 12px;

    background-color: $blue-main;
    color: white;
    font-size: $default-font;
    font-weight: $medium;
    transition: .2s linear;
    user-select: none;

    svg {
      justify-self: end;
    }
    
    &:hover {
      background-color: $blue-hover;
    }
    &:active {
      background-color: $blue-pressed;
    }
  }

  .footer {
    @include grid_align_center(1fr / repeat(3, 1fr));
    justify-content: space-between;
    height: 180px;

    font-size: $default-font;

    div {
      line-height: 28px; 
    }

    &__nopic {
      @include grid_template(auto auto / 1fr);
    }

    &__pic {
      @include grid_template(auto auto / auto 1fr);
      column-gap: 24px;
      img {
        grid-row: 1 / 3;
      }
    }

    .fat {
      font-weight: $medium;
    }

    .link {
      justify-self: start;
      color: $gray-7;
      border-bottom: 1px solid $gray-7;
    }

    .link:hover {
      color: $green-main;
    }

  }
}