/* Fonts imports */

@font-face {
  font-weight: 200;
  font-family: Inter;
  src: url("../projects/apraksindvor/style/Fonts/Inter-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: Inter;
  src: url("../projects/apraksindvor/style/Fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-weight: 500;
  font-family: Inter;
  src: url("../projects/apraksindvor/style/Fonts/Inter-Medium.woff2") format("woff2");
}

@font-face {
  font-weight: 600;
  font-family: Inter;
  src: url("../projects/apraksindvor/style/Fonts/Inter-SemiBold.woff2") format("woff2");
}

@import "./style_components/aprashka-vars"; /* vars */

/* Main imports */

@import "./style_components/aprashka-main";
@import "./style_components/about-project";
@import "./style_components/about-system";

/* Accordion 1 */

@import "./style_components/accordion1/logotype";
@import "./style_components/accordion1/colorpalette";
@import "./style_components/accordion1/typography";
@import "./style_components/accordion1/gridandindent";
@import "./style_components/accordion1/graphic";
@import "./style_components/accordion1/icons";

/* Accordion 2 */

@import "./style_components/accordion2/checkbox";
@import "./style_components/accordion2/divider";
@import "./style_components/accordion2/breadcrumbs";
@import "./style_components/accordion2/buttons";
@import "./style_components/accordion2/radiobutton";
@import "./style_components/accordion2/link";
@import "./style_components/accordion2/inputs";