/* Fonts imports */

@font-face {
  font-weight: 200;
  font-family: Inter;
  src: url("../projects/apraksindvor/style/Fonts/Inter-ExtraLight.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Inter;
  src: url("../projects/apraksindvor/style/Fonts/Inter-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Inter;
  src: url("../projects/apraksindvor/style/Fonts/Inter-Medium.ttf");
}

@font-face {
  font-weight: 600;
  font-family: Inter;
  src: url("../projects/apraksindvor/style/Fonts/Inter-SemiBold.ttf");
}

@import "./style_components/aprashka-vars"; /* vars */

/* Main imports */

@import "./style_components/aprashka-main";
@import "./style_components/about-project";
@import "./style_components/about-system";

/* Accordion 1 */



/* Accordion 2 */