.aprashka-main__wrapper.link {

  .link-description {
    @include rows();
    p {@include text();}
  }

  .link-usage {
    @include rows();

    &__container {
      @include columns();

      &-text {
        @include text-grid();

        &-list {
          display: grid;
          row-gap: 16px;
        }
      }
    }
  }

  .link-content {
    @include rows();

    &__container {
      @include columns();

      &-text {
        @include text-grid();
        @include mark-text();
        row-gap: 16px;
      }
    }
  }

  .link-build {
    @include small-common-rows();

    &__include-link, &__separate-link {
      @include rows();

      &-container {
        @include columns();
  
        &-text {
          @include text-grid();
        }
      }
    }
  }

  .link-state {
    @include rows();
  }
}
