.aprashka-main__wrapper.icons { 
  .icons-description {
    @include rows();
    p {@include text();}
  }

  .icons-pack {
    @include rows();

    &__container {
      @include grid_template(1fr 1fr / repeat(3, 1fr));
      gap: $vertical-small-gap;

      &-block {
        .gray-container {
          width: 360px;
          height: 276px;
          margin-bottom: 16px;

          position: relative;
          cursor: pointer;

          &, svg, span {
            transition: all 0.2s ease-out;
            
          }

          svg {
            fill: $black;
          }

          .arrow {
            position: absolute;
            @include grid_template(1fr / auto 1fr);
            column-gap: 12px;
            left: 20px;
            bottom: 17px;
            transition: all 0.5s ease-out;

            span {

              color: rgba(0, 0, 0, 0);
              font-size: 20px;
              font-weight: 500;
              line-height: 24px;
              padding-bottom: 3px;
            }
          }

          &:hover {
            background-color: $green-hover;

            svg {
              fill: $white;
            }

            span {
              color: $white;
            }
          } 
        }

        h4 {
          margin-bottom: 8px; 
        }
      }
    }
  }

  .icons-size {
    @include rows();
    p {@include text();}
  }

  .icons-text {
    @include rows();
    
    &__container {
      @include columns();
    }
  }

  .icons-color {
    @include rows();
    
    &__container {
      @include columns();
    }
  }

  .icons-design {
    @include small-common-rows();

    &__description {
      @include rows();
      p {@include text();}
    }

    &__grid {
      @include rows();
      p {@include text();}
    }

    &__line {
      @include rows();

      &-container {
        @include columns();

        div {
          @include text-grid();
        }
      }
    }

    &__rounding {
      @include rows();

      &-container {
        @include columns();
      }
    }

    &__associativity {
      @include rows();
      p {@include text();}
    }
  }
}
