.aprashka-main__wrapper.typography {
  .typography-description {
    @include rows();
    p {@include text();}
  }

  .typography-grotesk {
    @include rows();

    &__block {
      @include columns();

      &-text {
        @include text-grid();
        
      }
    }

    .download-button {
      pointer-events: none;
      background-color: $blue-3;
    }
  }

  .typography-inter {
    @include rows();
    p {@include text();}
  }

  // #region : Block with table

  .typography-headers, .typography-main-text, .typography-accent-text {
    @include rows();

    & > p {@include text();}

    &__block {

      &-row {
        place-items: center;

        &-left {
          justify-self: start;
          margin-left: 24px;
        }
      }

      span {
        border-bottom: 1px solid $gray-6; 
      }

      &_gray {
        color: $gray-6;
      }
    }
  }

  .typography-headers {

    &__block {
      @include grid_template( 1fr auto repeat(5, 1fr) / 1fr);

      &-row {
        @include grid_template(80px / 98px 88px 157px 1fr);
      }
    }
  }

  .typography-main-text {
    &__block {
      @include grid_template( 1fr auto repeat(4, 1fr) / 1fr);

      &-row {
        @include grid_template(80px / 88px 157px 163px 222px 1fr);
      }
    }
  }

  .typography-accent-text {
    &__block {
      @include grid_template( 1fr auto repeat(4, 1fr) / 1fr);

      &-row {
        @include grid_template(80px / 88px 157px 163px 222px 1fr);
      }
    }
  }

  // #endregion

  .typography-interface {
    @include small-common-rows();

    &__text {
      @include rows();
      p {@include text();}
    }

    section:not(.typography-interface__text) {
      @include small-rows();
      p {@include text();}
    }
  }
  
  .typography-list {
    @include small-common-rows();

    &__description {
      @include rows();
      p {@include text();}
    }

    &__lists {
      @include small-rows();
      
      &-name, &-text, &-pic {
        @include columns();
      }
    }
  }
}