/* - Common settings - */
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

ol, ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::-ms-clear {
  display: none;
}

input, button, textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a {
  color: inherit;
}

a:link, a:visited, a:hover {
  text-decoration: none;
}

* > button {
  -webkit-tap-highlight-color: transparent;
}

/*==========Mixin==========Start*/
/*==========Mixin==========End*/
html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body * > img, body * > button, body h1, body h2, body h3 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* ------------------- */
.mainpage {
  height: 100%;
  width: 100%;
  background: url("../mainpage/media/ITMO_black-2.png");
  background-size: 5vh;
  background-color: rgb(45, 45, 45);
  display: grid;
  grid-template: auto auto 1fr/1fr;
}
.mainpage__header {
  font-family: "Oxanium", sans-serif;
  font-size: 10vh;
  font-weight: 400;
  color: white;
  text-align: right;
  margin: 6vh 3vh 6vh 0;
}
.mainpage .line-bottom {
  border-bottom: 2px solid white;
  margin: 0 3vh;
}
.mainpage__main {
  display: grid;
  grid-template: auto/1fr 1fr;
  -ms-flex-line-pack: start;
      align-content: start;
  gap: 3vh;
  margin: 3vh;
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
}
.mainpage__main .folder-cell {
  display: grid;
  grid-template: auto/30% 70%;
  border: solid 1px rgba(255, 255, 255, 0);
}
.mainpage__main .folder-cell__svg {
  -ms-flex-item-align: center;
      align-self: center;
  padding-left: 3vh;
}
.mainpage__main .folder-cell__description {
  display: grid;
  grid-template: auto/1fr;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding: 3vh;
  font-family: "Oxanium", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 105%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.mainpage__main .folder-cell__description h5 {
  font-weight: bold;
  padding-bottom: 0.5vh;
}
.mainpage__main .folder-cell:hover {
  border: solid 1px white;
}
.mainpage ::-webkit-scrollbar {
  width: 2px;
  background-color: rgba(0, 0, 0, 0);
}
.mainpage ::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: white;
}

@media (max-width: 1000px) {
  .mainpage__header {
    font-size: 8vh;
    text-align: center;
    margin: 6vh 0 6vh 0;
  }
  .mainpage__header .mobile-off {
    display: none;
  }
  .mainpage__main {
    display: grid;
    grid-template: auto/1fr;
  }
  .mainpage__main .folder-cell {
    display: grid;
    grid-template: auto/35% 65%;
  }
  .mainpage__main .folder-cell__svg {
    padding-left: 1vh;
  }
  .mainpage__main .folder-cell__description {
    padding: 3vh 0 3vh 3vh;
  }
}
@media (max-width: 600px) {
  .mainpage__header {
    font-size: 8vh;
    text-align: center;
    margin: 6vh 0 6vh 0;
  }
  .mainpage__header .mobile-off {
    display: none;
  }
  .mainpage__main {
    display: grid;
    grid-template: auto/1fr;
  }
  .mainpage__main .folder-cell {
    display: grid;
    grid-template: auto 1fr/1fr;
  }
  .mainpage__main .folder-cell__svg {
    padding: 0 3vh 0 3vh;
  }
  .mainpage__main .folder-cell__description {
    display: grid;
    grid-template: auto/1fr;
    padding: 0 1vh 0 1vh;
    font-size: 1.75vh;
  }
  .mainpage__main .folder-cell__description h5 {
    font-weight: bold;
    padding-bottom: 0.5vh;
  }
}
/* Fonts imports */
@font-face {
  font-weight: 200;
  font-family: Inter;
  src: url("../projects/apraksindvor/style/Fonts/Inter-ExtraLight.ttf");
}
@font-face {
  font-weight: 400;
  font-family: Inter;
  src: url("../projects/apraksindvor/style/Fonts/Inter-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: Inter;
  src: url("../projects/apraksindvor/style/Fonts/Inter-Medium.ttf");
}
@font-face {
  font-weight: 600;
  font-family: Inter;
  src: url("../projects/apraksindvor/style/Fonts/Inter-SemiBold.ttf");
}
/*==========Mixin========== Start*/
/*==========Mixin========== End*/
/* vars */
/* Main imports */
.aprashka-main {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template: 100vh/312px 1fr;
  font-family: Inter;
  color: #0A2832;
}
.aprashka-main * > h1 {
  font-size: 56px;
  line-height: 64px;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.aprashka-main * > h2 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.aprashka-main * > h3 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.aprashka-main * > h4 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.aprashka-main * > h5 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.aprashka-main * > p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}
.aprashka-main__sidebar {
  display: grid;
  grid-template: auto 1fr/1fr;
  background-color: #E1EBF0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.aprashka-main__sidebar .logo {
  display: grid;
  grid-template: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
  padding-left: 48px;
  background-color: #E1EBF0;
  z-index: 2;
}
.aprashka-main__sidebar .logo img {
  height: 84px;
  width: 75px;
}
.aprashka-main__sidebar .sidebar {
  display: grid;
  grid-template: repeat(4, auto)/1fr;
  -ms-flex-line-pack: start;
      align-content: start;
  overflow-x: hidden;
}
.aprashka-main__sidebar .sidebar .mainlink {
  display: grid;
  grid-template: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E1EBF0;
  height: 64px;
  padding-left: 48px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  z-index: 2;
}
.aprashka-main__sidebar .sidebar .accordion__arrow {
  padding-right: 43px;
}
.aprashka-main__sidebar .sidebar .accordion__arrow span {
  display: grid;
  grid-template: 1fr/auto auto;
}
.aprashka-main__sidebar .sidebar .accordion__arrow span svg {
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  justify-self: right;
  -ms-flex-item-align: center;
      align-self: center;
}
.aprashka-main__sidebar .sidebar .accordion .arrow-open > span > svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.aprashka-main__sidebar .sidebar .accordion .arrow-close > span > svg {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.aprashka-main__sidebar .sidebar .accordion__links {
  display: grid;
  grid-template: auto/1fr;
  -ms-flex-line-pack: start;
      align-content: start;
}
.aprashka-main__sidebar .sidebar .accordion__links .secondarylink {
  background-color: #E1EBF0;
  padding: 8px 0px 8px 64px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.aprashka-main__sidebar .sidebar .accfirst {
  z-index: 1;
  -webkit-animation: menu-1 0.25s ease-out forwards;
          animation: menu-1 0.25s ease-out forwards;
}
.aprashka-main__sidebar .sidebar .accfirst .menu-open {
  -webkit-animation: menu-1-open 0.25s ease-out forwards;
          animation: menu-1-open 0.25s ease-out forwards;
}
@-webkit-keyframes menu-1-open {
  0% {
    -webkit-transform: translateY(-240px);
            transform: translateY(-240px);
    height: 0px;
    color: rgba(10, 40, 50, 0);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    height: 240px;
    color: #0A2832;
  }
}
@keyframes menu-1-open {
  0% {
    -webkit-transform: translateY(-240px);
            transform: translateY(-240px);
    height: 0px;
    color: rgba(10, 40, 50, 0);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    height: 240px;
    color: #0A2832;
  }
}
.aprashka-main__sidebar .sidebar .accfirst .menu-close {
  -webkit-animation: menu-1-close 0.25s ease-out forwards;
          animation: menu-1-close 0.25s ease-out forwards;
}
@-webkit-keyframes menu-1-close {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    height: 240px;
    color: #0A2832;
  }
  100% {
    -webkit-transform: translateY(-240px);
            transform: translateY(-240px);
    height: 0px;
    color: rgba(10, 40, 50, 0);
  }
}
@keyframes menu-1-close {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    height: 240px;
    color: #0A2832;
  }
  100% {
    -webkit-transform: translateY(-240px);
            transform: translateY(-240px);
    height: 0px;
    color: rgba(10, 40, 50, 0);
  }
}
.aprashka-main__sidebar .sidebar .accsecond {
  z-index: 0;
}
.aprashka-main__sidebar .sidebar .accsecond .accordion__links {
  margin-bottom: 20px;
}
.aprashka-main__sidebar .sidebar .accsecond .menu-open {
  -webkit-animation: menu-2-open 0.25s ease-out forwards;
          animation: menu-2-open 0.25s ease-out forwards;
}
@-webkit-keyframes menu-2-open {
  0% {
    -webkit-transform: translateY(-480px);
            transform: translateY(-480px);
    height: 0px;
    color: rgba(10, 40, 50, 0);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    height: 480px;
    color: #0A2832;
  }
}
@keyframes menu-2-open {
  0% {
    -webkit-transform: translateY(-480px);
            transform: translateY(-480px);
    height: 0px;
    color: rgba(10, 40, 50, 0);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    height: 480px;
    color: #0A2832;
  }
}
.aprashka-main__sidebar .sidebar .accsecond .menu-close {
  -webkit-animation: menu-2-close 0.25s ease-out forwards;
          animation: menu-2-close 0.25s ease-out forwards;
}
@-webkit-keyframes menu-2-close {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    height: 480px;
    color: #0A2832;
  }
  100% {
    -webkit-transform: translateY(-480px);
            transform: translateY(-480px);
    height: 0px;
    color: rgba(10, 40, 50, 0);
  }
}
@keyframes menu-2-close {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    height: 480px;
    color: #0A2832;
  }
  100% {
    -webkit-transform: translateY(-480px);
            transform: translateY(-480px);
    height: 0px;
    color: rgba(10, 40, 50, 0);
  }
}
.aprashka-main__sidebar .sidebar .mainlink.active, .aprashka-main__sidebar .sidebar .mainlink.active:hover, .aprashka-main__sidebar .sidebar .secondarylink.active, .aprashka-main__sidebar .sidebar .secondarylink.active:hover {
  background-color: #ffffff;
}
.aprashka-main__sidebar .sidebar .mainlink:hover, .aprashka-main__sidebar .sidebar .secondarylink:hover {
  background-color: #F2F6F9;
}
.aprashka-main__sidebar .sidebar::-webkit-scrollbar {
  width: 0px;
}
.aprashka-main__wrapper {
  height: 100%;
  width: 100%;
}
.aprashka-main__wrapper::-webkit-scrollbar {
  width: 0px;
}
.aprashka-main .loadscreen {
  display: grid;
  place-items: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.aprashka-main .loadscreen .loading-effect svg {
  -webkit-animation: loading 0.75s ease infinite;
          animation: loading 0.75s ease infinite;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    fill: #FFB7CF;
  }
  25% {
    fill: #44A9E1;
  }
  50% {
    fill: #37A373;
  }
  75% {
    fill: #FFDF89;
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    fill: #FF7F53;
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    fill: #FFB7CF;
  }
  25% {
    fill: #44A9E1;
  }
  50% {
    fill: #37A373;
  }
  75% {
    fill: #FFDF89;
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    fill: #FF7F53;
  }
}
.aprashka-main .download-button {
  height: 64px;
  width: 198px;
  display: grid;
  grid-template: 1fr/auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  background-color: #058CD7;
  color: white;
  font-size: 20px;
  font-weight: 500;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.aprashka-main .download-button svg {
  justify-self: end;
}
.aprashka-main .download-button:hover {
  background-color: #44A9E1;
}
.aprashka-main .download-button:active {
  background-color: #0178BA;
}
.aprashka-main .footer {
  display: grid;
  grid-template: 1fr/repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 180px;
  font-size: 20px;
}
.aprashka-main .footer div {
  line-height: 28px;
}
.aprashka-main .footer__nopic {
  display: grid;
  grid-template: auto auto/1fr;
}
.aprashka-main .footer__pic {
  display: grid;
  grid-template: auto auto/auto 1fr;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
.aprashka-main .footer__pic img {
  grid-row: 1/3;
}
.aprashka-main .footer .fat {
  font-weight: 500;
}
.aprashka-main .footer .link {
  justify-self: start;
  color: #37464B;
  border-bottom: 1px solid #37464B;
}
.aprashka-main .footer .link:hover {
  color: #058C50;
}

.aprashka-main__wrapper.aboutproject {
  display: grid;
  grid-template: clamp(800px, 100vh, 1080px) repeat(4, auto)/auto;
  row-gap: 140px;
  overflow-x: hidden;
}
.aprashka-main__wrapper.aboutproject .work-block, .aprashka-main__wrapper.aboutproject .team-block, .aprashka-main__wrapper.aboutproject .footer {
  width: 1128px;
  margin-left: 128px;
}
.aprashka-main__wrapper.aboutproject .welcome-block {
  display: grid;
  grid-template: auto 1fr auto/1fr;
  overflow: hidden;
}
.aprashka-main__wrapper.aboutproject .welcome-block__sun {
  position: relative;
  width: 1128px;
}
.aprashka-main__wrapper.aboutproject .welcome-block__sun svg, .aprashka-main__wrapper.aboutproject .welcome-block__sun img {
  position: absolute;
}
.aprashka-main__wrapper.aboutproject .welcome-block__sun .sunpic {
  z-index: -1;
  top: -127px;
  left: 1006px;
  -webkit-animation: effect 8s linear infinite;
          animation: effect 8s linear infinite;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.aprashka-main__wrapper.aboutproject .welcome-block__sun .sunpic.false {
  opacity: 0;
}
.aprashka-main__wrapper.aboutproject .welcome-block__sun img {
  z-index: -2;
  top: -127px;
  left: 1006px;
  -webkit-animation: effect 10s linear infinite;
          animation: effect 10s linear infinite;
}
.aprashka-main__wrapper.aboutproject .welcome-block__sun img.checked {
  opacity: 0;
}
@-webkit-keyframes effect {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes effect {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.aprashka-main__wrapper.aboutproject .welcome-block__sun .light {
  z-index: -3;
  top: 0px;
  left: -410px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.aprashka-main__wrapper.aboutproject .welcome-block__sun .light.false {
  opacity: 0;
  top: 150px;
  left: 1250px;
  height: 0px;
  width: 0px;
}
.aprashka-main__wrapper.aboutproject .welcome-block__slogan {
  display: grid;
  grid-template: 40px/auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 43px 0 0 128px;
  width: 1128px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.aprashka-main__wrapper.aboutproject .welcome-block__slogan svg.checked {
  fill: #FF5F28;
}
.aprashka-main__wrapper.aboutproject .welcome-block__slogan svg.false {
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
  fill: #0A2832;
}
.aprashka-main__wrapper.aboutproject .welcome-block__slogan span {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  padding: 1px 0 0 18px;
  font-weight: 200;
  font-size: 40px;
  color: #FF5F28;
}
.aprashka-main__wrapper.aboutproject .welcome-block__slogan span.checked {
  opacity: 0;
}
.aprashka-main__wrapper.aboutproject .welcome-block__idea {
  display: grid;
  grid-template: auto/auto 360px;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  justify-items: end;
  margin: 0 0 20px 128px;
  width: 1128px;
}
.aprashka-main__wrapper.aboutproject .welcome-block__idea input {
  accent-color: #FF5F28;
  height: 24px;
  width: 24px;
  margin-top: 5px;
}
.aprashka-main__wrapper.aboutproject .welcome-block__idea p {
  line-height: 28px;
}
.aprashka-main__wrapper.aboutproject .welcome-block__idea p span {
  color: #8C9BA0;
}
.aprashka-main__wrapper.aboutproject .welcome-block__system {
  display: grid;
  grid-template: auto auto/1fr;
  gap: 25px;
  margin: 0 0 48px 128px;
  width: 1128px;
}
.aprashka-main__wrapper.aboutproject .welcome-block__system h1 {
  font-weight: 200;
  line-height: 76px;
}
.aprashka-main__wrapper.aboutproject .welcome-block__system h1 span {
  color: #058C50;
  font-weight: 500;
}
.aprashka-main__wrapper.aboutproject .work-block {
  display: grid;
  grid-template: repeat(4, auto)/1fr;
  row-gap: 180px;
}
.aprashka-main__wrapper.aboutproject .work-block__start {
  display: grid;
  grid-template: auto 1fr/1fr;
  row-gap: 36px;
}
.aprashka-main__wrapper.aboutproject .work-block__start h2 {
  color: #0A2832;
}
.aprashka-main__wrapper.aboutproject .work-block__start nav {
  display: grid;
  grid-template: auto/repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aprashka-main__wrapper.aboutproject .work-block__start nav div {
  display: grid;
  grid-template: 1fr auto/1fr;
  row-gap: 16px;
}
.aprashka-main__wrapper.aboutproject .work-block__start nav div .lottie-animation {
  background-color: #F2F6F9;
  height: 360px;
  width: 360px;
}
.aprashka-main__wrapper.aboutproject .work-block__start nav div h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}
.aprashka-main__wrapper.aboutproject .work-block__start nav div h4 svg {
  margin-left: 12px;
}
.aprashka-main__wrapper.aboutproject .work-block__start nav .rec .color-blue, .aprashka-main__wrapper.aboutproject .work-block__start nav .style .color-blue, .aprashka-main__wrapper.aboutproject .work-block__start nav .comp .color-blue {
  color: #058CD7;
}
.aprashka-main__wrapper.aboutproject .work-block__start nav .rec .color-blue *, .aprashka-main__wrapper.aboutproject .work-block__start nav .style .color-blue *, .aprashka-main__wrapper.aboutproject .work-block__start nav .comp .color-blue * {
  fill: #058CD7;
}
.aprashka-main__wrapper.aboutproject .work-block__start nav .rec .color-green, .aprashka-main__wrapper.aboutproject .work-block__start nav .style .color-green, .aprashka-main__wrapper.aboutproject .work-block__start nav .comp .color-green {
  color: #058C50;
}
.aprashka-main__wrapper.aboutproject .work-block__start nav .rec .color-green *, .aprashka-main__wrapper.aboutproject .work-block__start nav .style .color-green *, .aprashka-main__wrapper.aboutproject .work-block__start nav .comp .color-green * {
  fill: #058C50;
}
.aprashka-main__wrapper.aboutproject .work-block__start nav .rec .color-orange, .aprashka-main__wrapper.aboutproject .work-block__start nav .style .color-orange, .aprashka-main__wrapper.aboutproject .work-block__start nav .comp .color-orange {
  color: #FF5F28;
}
.aprashka-main__wrapper.aboutproject .work-block__start nav .rec .color-orange *, .aprashka-main__wrapper.aboutproject .work-block__start nav .style .color-orange *, .aprashka-main__wrapper.aboutproject .work-block__start nav .comp .color-orange * {
  fill: #FF5F28;
}
.aprashka-main__wrapper.aboutproject .work-block__start nav .rec:hover .color-blue, .aprashka-main__wrapper.aboutproject .work-block__start nav .style:hover .color-blue, .aprashka-main__wrapper.aboutproject .work-block__start nav .comp:hover .color-blue {
  color: #44A9E1;
}
.aprashka-main__wrapper.aboutproject .work-block__start nav .rec:hover .color-blue *, .aprashka-main__wrapper.aboutproject .work-block__start nav .style:hover .color-blue *, .aprashka-main__wrapper.aboutproject .work-block__start nav .comp:hover .color-blue * {
  fill: #44A9E1;
}
.aprashka-main__wrapper.aboutproject .work-block__start nav .rec:hover .color-green, .aprashka-main__wrapper.aboutproject .work-block__start nav .style:hover .color-green, .aprashka-main__wrapper.aboutproject .work-block__start nav .comp:hover .color-green {
  color: #37A373;
}
.aprashka-main__wrapper.aboutproject .work-block__start nav .rec:hover .color-green *, .aprashka-main__wrapper.aboutproject .work-block__start nav .style:hover .color-green *, .aprashka-main__wrapper.aboutproject .work-block__start nav .comp:hover .color-green * {
  fill: #37A373;
}
.aprashka-main__wrapper.aboutproject .work-block__start nav .rec:hover .color-orange, .aprashka-main__wrapper.aboutproject .work-block__start nav .style:hover .color-orange, .aprashka-main__wrapper.aboutproject .work-block__start nav .comp:hover .color-orange {
  color: #FF7F53;
}
.aprashka-main__wrapper.aboutproject .work-block__start nav .rec:hover .color-orange *, .aprashka-main__wrapper.aboutproject .work-block__start nav .style:hover .color-orange *, .aprashka-main__wrapper.aboutproject .work-block__start nav .comp:hover .color-orange * {
  fill: #FF7F53;
}
.aprashka-main__wrapper.aboutproject .work-block__start nav .rec:active .color-blue, .aprashka-main__wrapper.aboutproject .work-block__start nav .style:active .color-blue, .aprashka-main__wrapper.aboutproject .work-block__start nav .comp:active .color-blue {
  color: #0178BA;
}
.aprashka-main__wrapper.aboutproject .work-block__start nav .rec:active .color-blue *, .aprashka-main__wrapper.aboutproject .work-block__start nav .style:active .color-blue *, .aprashka-main__wrapper.aboutproject .work-block__start nav .comp:active .color-blue * {
  fill: #0178BA;
}
.aprashka-main__wrapper.aboutproject .work-block__start nav .rec:active .color-green, .aprashka-main__wrapper.aboutproject .work-block__start nav .style:active .color-green, .aprashka-main__wrapper.aboutproject .work-block__start nav .comp:active .color-green {
  color: #047040;
}
.aprashka-main__wrapper.aboutproject .work-block__start nav .rec:active .color-green *, .aprashka-main__wrapper.aboutproject .work-block__start nav .style:active .color-green *, .aprashka-main__wrapper.aboutproject .work-block__start nav .comp:active .color-green * {
  fill: #047040;
}
.aprashka-main__wrapper.aboutproject .work-block__start nav .rec:active .color-orange, .aprashka-main__wrapper.aboutproject .work-block__start nav .style:active .color-orange, .aprashka-main__wrapper.aboutproject .work-block__start nav .comp:active .color-orange {
  color: #E84A13;
}
.aprashka-main__wrapper.aboutproject .work-block__start nav .rec:active .color-orange *, .aprashka-main__wrapper.aboutproject .work-block__start nav .style:active .color-orange *, .aprashka-main__wrapper.aboutproject .work-block__start nav .comp:active .color-orange * {
  fill: #E84A13;
}
.aprashka-main__wrapper.aboutproject .work-block__card {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  border-top: 1px solid #738287;
  padding-top: 24px;
}
.aprashka-main__wrapper.aboutproject .work-block__card p {
  color: #0A2832;
  line-height: 28px;
}
.aprashka-main__wrapper.aboutproject .work-block__card .color-blue {
  color: #058CD7;
}
.aprashka-main__wrapper.aboutproject .work-block__card .color-green {
  color: #058C50;
}
.aprashka-main__wrapper.aboutproject .work-block__card .color-orange {
  color: #FF5F28;
}
.aprashka-main__wrapper.aboutproject .ticker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 210px;
  width: clamp(1600px, 100vw, 2500px);
  overflow: hidden;
  background-color: #FFA5C3;
  -webkit-transform: rotate(-4deg) translate(-50px);
      -ms-transform: rotate(-4deg) translate(-50px);
          transform: rotate(-4deg) translate(-50px);
}
.aprashka-main__wrapper.aboutproject .ticker div {
  display: grid;
  grid-template: 1fr/auto auto;
}
.aprashka-main__wrapper.aboutproject .ticker div svg {
  -webkit-animation: ticker 8s linear infinite;
          animation: ticker 8s linear infinite;
  margin-left: 35px;
}
@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate(2%);
            transform: translate(2%);
  }
  100% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate(2%);
            transform: translate(2%);
  }
  100% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
}
.aprashka-main__wrapper.aboutproject .team-block__team {
  display: grid;
  grid-template: 1fr/repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 36px;
}
.aprashka-main__wrapper.aboutproject .team-block__team div div {
  display: grid;
  grid-template: 1;
  place-items: center;
  background-color: #F2F6F9;
  height: 360px;
  width: 360px;
  margin-bottom: 16px;
  position: relative;
}
.aprashka-main__wrapper.aboutproject .team-block__team div div img, .aprashka-main__wrapper.aboutproject .team-block__team div div svg {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.aprashka-main__wrapper.aboutproject .team-block__team div div img {
  height: 168px;
  width: 168px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.aprashka-main__wrapper.aboutproject .team-block__team div div svg {
  position: absolute;
  -webkit-filter: opacity(0);
          filter: opacity(0);
  height: 0px;
  width: 0px;
}
.aprashka-main__wrapper.aboutproject .team-block__team div div svg.one {
  top: 120px;
  left: 120px;
}
.aprashka-main__wrapper.aboutproject .team-block__team div div svg.two {
  top: 120px;
}
.aprashka-main__wrapper.aboutproject .team-block__team div div svg.three {
  top: 120px;
  right: 120px;
  -webkit-transform: rotate(-50deg);
      -ms-transform: rotate(-50deg);
          transform: rotate(-50deg);
}
.aprashka-main__wrapper.aboutproject .team-block__team div div:hover img, .aprashka-main__wrapper.aboutproject .team-block__team div div:hover svg {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.aprashka-main__wrapper.aboutproject .team-block__team div div:hover img {
  height: 360px;
  width: 360px;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.aprashka-main__wrapper.aboutproject .team-block__team div div:hover svg {
  position: absolute;
  -webkit-filter: opacity(1);
          filter: opacity(1);
}
.aprashka-main__wrapper.aboutproject .team-block__team div div:hover svg.one {
  top: 25px;
  left: 25px;
  height: 70px;
  width: 70px;
  -webkit-transform: rotate(50deg);
      -ms-transform: rotate(50deg);
          transform: rotate(50deg);
}
.aprashka-main__wrapper.aboutproject .team-block__team div div:hover svg.two {
  top: 25px;
  height: 55px;
  width: 55px;
  -webkit-transform: rotate(50deg);
      -ms-transform: rotate(50deg);
          transform: rotate(50deg);
}
.aprashka-main__wrapper.aboutproject .team-block__team div div:hover svg.three {
  top: 5px;
  right: 5px;
  height: 90px;
  width: 90px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.aprashka-main__wrapper.aboutproject .team-block__team div h4 {
  line-height: 34px;
}
.aprashka-main__wrapper.aboutproject .team-block__team div p {
  line-height: 28px;
}
.aprashka-main__wrapper.aboutproject .team-block__team div.color-blue {
  color: #058CD7;
}
.aprashka-main__wrapper.aboutproject .team-block__team div.color-green {
  color: #058C50;
}
.aprashka-main__wrapper.aboutproject .team-block__team div.color-orange {
  color: #FF5F28;
}

.aprashka-main__wrapper.aboutsystem {
  display: grid;
  grid-template: auto/1128px;
  row-gap: 140px;
  padding: 80px 0px 80px 128px;
  overflow-x: hidden;
  overflow-y: auto;
}
.aprashka-main__wrapper.aboutsystem .gray-container {
  display: grid;
  grid-template: 1;
  place-items: center;
  background-color: #F2F6F9;
}

/* Accordion 1 */
.aprashka-main__wrapper.logotype {
  display: grid;
  grid-template: auto/1128px;
  row-gap: 140px;
  padding: 80px 0px 80px 128px;
  overflow-x: hidden;
  overflow-y: auto;
}
.aprashka-main__wrapper.logotype .gray-container {
  display: grid;
  grid-template: 1;
  place-items: center;
  background-color: #F2F6F9;
}

/* Accordion 2 */